* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", serif;;

}

hr {
    width: 80%;
    margin: 0 10% 0 10%;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}

.container {
    height: 100vh;
    width: auto;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: #fff7ed;
    height: 100%;
    width: 100%;
    grid-column: 2 / span3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
}

.search {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search div{
    width: 30px;
}

.search-icon {
    width: 50%;
}

.settings {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-icon {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.profile {
    height: 80px;
    display:flex;
    align-items: center;
    margin-left: 10px;
}

.profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%; 
    border: 1px solid black;
    margin-right: 5px;
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-btn {
    color: #fff7ed; 
    font-size:larger;
    width: 25%;
    height: 55%;
    background-color: #9a3412;
    border-radius: 30px;
    font-family: "Roboto";
}

.sidebar {
    background-color: #ea580c;
    height: 100vh;
    width: 100%;
    grid-row: 1 / span 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    gap: 20px;
}

.dashboard-header {
    height: 50%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.sidebar ul {
    list-style: none;
    display: grid;
    gap: 10px;
}
.side-menu {
    height: 70%;
    text-align: center;
    justify-self: left;
    margin-left: 20%;
}

.user-support {
    height: 60%;
    text-align: center;
    justify-self: left;
    margin-left: 20%;
    
    
}

.list-item {
    color: white;
    font-size: larger;
    text-align: left;
    display: flex;


}

.menu-img{
    border: 1px solid black;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.projects {
    background-color: #fed7aa;
    height: 100%;
    width: 100%;
    grid-row: 2 / span 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.project-tile {
    background-color: #fff7ed;
    border-left: 4px solid #fb923c;
    width: 95%;
    height: auto;
    margin: 2% 2% 2% 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;

}


.latest {
    background-color: #fed7aa; 
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
}

.announcements-container {
    background-color: #fed7aa;
    height: 25%;
    margin-right: 15px;
}

.announcements {
    background-color: beige;
    height: 33%;
}


.trend-container {
    background-color: #fed7aa;
    height: 25%;
    margin-right: 15px;
}

.trending {
    background-color: beige;
    height: 33%;
    display: flex;
    padding-left: 10px;
    
}

#searchbar {
    border-radius: 8%;
    width: 80%;
    height: 40%;
}